.baseInput {
  margin: 0.6rem 0.6rem;
  width: 20vw;
  max-width: 17.5rem;
  min-width: 12.5rem;
  overflow: hidden;
  appearance: none;
  border: 0;
  font-family: inherit;
  padding: 0.3rem 0.9rem 0 1.2rem;
  height: 2.8rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 1.5rem;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.15s ease; }
  .baseInput.primary {
    color: #35353b; }
  .baseInput.primary:focus {
    background: rgba(247, 242, 242, 0.918);
    outline: none;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05); }
  .baseInput.primary:hover {
    background: rgba(12, 12, 12, 0.3);
    box-shadow: inset 0 -1px 0 rgba(75, 87, 156, 0.5); }
  .baseInput.secondary {
    background: rgba(15, 4, 4, 0.02);
    color: #07090f; }

.baseInput::-webkit-input-placeholder {
  color: #a2a2a8c7; }

.LabelInputContainer {
  color: #35353b;
  display: flex;
  align-items: center; }

@media screen and (max-width: 400px) {
  .LabelInputContainer {
    flex-direction: column; } }
